@import url(../../common/constants.css);

@font-face {
  font-family: "Anime";
  src: url("../../../assets/fonts/Hirakatana-dpJX.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #001824;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}

.padd {
  padding: 10px;
}

#modal{
  display: none;
  margin-top: 70px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh - 70px);
  width: 25%;
  border-radius: 0 0 0 16px;
  background-color: #001824;
  border: 1px solid rgba(44, 44, 44, 0.353);
  color: white;
}

#profileModal{
  display: none;
  margin-top: 70px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh - 70px);
  width: 25%;
  border-radius: 0 0 0 16px;
  background-color: #001824;
  border: 1px solid rgba(44, 44, 44, 0.353);
  color: white;
}

.modal-content {
  margin: 2%;
  padding: 16px;
}

#close-modal-event {
  height: 40px;
  width: 40px;
}

#close-modal-profile {
  height: 40px;
  width: 40px;
}

.locationIcon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.coins {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}

div[class^="dropdown"] a{
  margin-top: 5%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(44, 44, 44, 0.353);
}

.rounded-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.noEvents{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: var(--green);
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

#closeModal {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}

#closeAdventureModal {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}

#closeGroupModal {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}
