@import url(constants.css);

button.button {
  background: var(--blue);
  color: #fff;
  box-shadow: 10px 10px 0 rgba(0,0,0,.5);
  display: inline-block;
  padding: .3em 1.5em;
  text-decoration: none;
  width: 45%;
  margin: 8px;
  cursor: pointer;
  font-size: 0.7em;
  border: none;
}

button.button:hover {
  background: var(--green);
}

button.parallelogram{
  transform: skew(-20deg);
}

span.skew-fix{
  display:inline-block;
  transform: skew(20deg);
}