@import url(constants.css);

button.button {
  background: var(--yellow);
  color: var(--black);
  box-shadow: 10px 10px 0 rgba(0,0,0,.5);
  display: inline-block;
  text-decoration: none;
  width: 45%;
  cursor: pointer;
  font-size: 0.5em;
  border: none;
}

button.button:hover {
  background: var(--red);
}

button.parallelogram{
  /* transform: skew(-20deg); */
}

span.skew-fix{
  display:inline-block;
  transform: skew(20deg);
}