@import url(constants.css);

article {
  padding: 16px 16px 0px 16px;
  background-color: black;
}

input[class='form-control']{
  border-radius: 16px;
  margin-top: 32px;
  background-color: #222;
  border: 1px solid #333;
  color: white;
  margin-bottom: 8px;
  padding: 8px 4px;
  position: relative;
  width: 100%;
  z-index: 3;
}

input[class='form-control']:focus{
  border-radius: 16px;
  box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
  background-color: #222;
  border: 1px solid #333;
  color: white;
}

label{
  position: absolute;
  opacity: 0;
  transform: translateY(-15px);
  z-index: 2;
  font-size: 0.5em;
}

input:focus + label{
  animation: bottom 0.3s ease forwards;
  color: var(--yellow);
} 

textarea[class='form-control']:focus + label{
  animation: lift 0.3s ease forwards;
  color: var(--yellow);
} 

select:focus + label{
  animation: bottom 0.3s ease forwards;
  color: var(--yellow);
} 

@keyframes bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-80px);
  }
}

@keyframes lift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-110px);
  }
}

textarea[class='form-control']{
  margin-top: 32px;
  border-radius: 16px;
  background-color: #222;
  color: white;
  border: 1px solid #333;
  z-index: 3;
}

textarea[class='form-control']:focus{
  border-radius: 16px;
  background-color: #222;
  color: white;
  border: 1px solid #333;
}

select[class='dropdown-menu']{
  all: unset;
  margin-top: 32px;
  display: block;
  padding: 6px 12px;
  width: 98%;
  border-radius: 16px;
  background-color: #222;
  color: rgb(139, 139, 139);
  border: 1px solid #333;
  font-size: 0.5em;
  z-index: 3;
}

input[type=file]::file-selector-button{
  border-radius: 16px;
  background-color: #222;
  color: white;
  border: 1px solid #333;
}

input[type=file]::file-selector-button:focus{
  border-radius: 16px;
  background-color: #222;
  color: black;
  border: 1px solid #333;
}

select[class='dropdown-menu']:focus{
  all: unset;
  display: block;
  margin-top: 32px;
  padding: 6px 12px;
  width: 98%;
  border-radius: 16px;
  background-color: rgb(44, 44, 44);
  border: 1px solid #333;
  font-size: 0.5em;
}

option{
  border: none;
}

option:checked{
  color:var(--green);
  background-color: var(--black);
}

option[class^='dropdown-item']{
  width: 50%;
  background-color: #222;
  color: white;
  padding: 6px;
}

option:hover {
  background-color: #222;
  color: white;
  border: none;
  border-radius: 16px;
}

.modalContent {
  width: 100%;
}

.customModal {
  display: flex;
  border-radius: 16px;
  top: 0;
  justify-content: center;
  margin-top: 70px;
  position: absolute;
  padding: 2.5%;
  width: 50%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.95);
  color: var(--green);
}